<div class="linguist-header">
	<div class="linguist-title">
		Linguist
		<div class="linguist-subtitle">
			by Rahul Bali
		</div>
	</div>
	<div class="linguist-actions">
		<button class="linguist-add" mat-stroked-button style="width: 20px;color: black;border-color: black;" >
			<span class="material-symbols-outlined">
				add
			</span>
		</button>
		<button class="linguist-search" mat-stroked-button style="width: 20px;color: black;border-color:black">
			<span class="material-symbols-outlined">
				search
			</span>
		</button>
		<button class="linguist-person" mat-raised-button style="width: 20px;color: black;">
			<span class="material-symbols-outlined">
				person
				</span>
		</button>
	</div>
</div>