.linguist-title {
	font-family: "Pridi", serif;
	font-weight: 500;
	font-size: 50px;
}

.linguist-subtitle {
	font-family: "Pridi", serif;
	font-weight: 500;
	font-size: 13px;
	z-index: 1;
	position: relative;
	left: 53%;

}

.linguist-header {
	padding: 30px;
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.linguist-actions{
	display: flex;
	flex-direction: row;
	gap: 15px;
}


