
.head {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-size: 50px;
  }

.head2{
    font-family: "Pridi", serif;
    font-weight: 500;
    font-size: 14px;
    padding-left:14%;
}

.search{
    margin-left: auto;
}


.div1{
    padding: 40px 0px 0px 0px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}




